header {
    width: 100%;
}

.header-content {
    margin-top: 30px;
    display: flex;
    align-items: center;
}

i {
    color: $primary-normal;
}

.header-icons {
    display: flex;
    gap: 15px;
}

.header-icons a:hover {
    i {
        animation: translateY 0.8s infinite alternate;
        color: $red-normal;
    }
}

@keyframes translateY {
    from {
        transform: translateY(0) scale(1);
    }

    to {
        transform: translateY(-8px) scale(1);
    }
}

@media screen and (max-width: 768px){
    .header-content {
        justify-content: center;
    }
}