@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
}

.header-content {
  margin-top: 30px;
  display: flex;
  align-items: center;
}

i {
  color: #06121e;
}

.header-icons {
  display: flex;
  gap: 15px;
}

.header-icons a:hover i {
  animation: translateY 0.8s infinite alternate;
  color: #fa3d32;
}

@keyframes translateY {
  from {
    transform: translateY(0) scale(1);
  }
  to {
    transform: translateY(-8px) scale(1);
  }
}
@media screen and (max-width: 768px) {
  .header-content {
    justify-content: center;
  }
}
.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 15px;
}

.bg-home::before {
  content: "";
  display: block;
  position: absolute;
  background-image: linear-gradient(to bottom, rgba(6, 18, 30, 0.1), #06121e), url("../assets/background.jpg");
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.9;
}

.hero {
  display: flex;
  flex-direction: column;
  margin-top: 120px;
  min-height: 80vh;
}

.hero h1 {
  color: #06121e;
  font-weight: 900;
  font-size: 40px;
}

.hero p {
  font-weight: 500;
  color: #ffffff;
  font-size: 20px;
  margin-top: 10px;
}

.hero button {
  margin-top: 50px;
}

.hero a:hover {
  color: #06121e;
  background-color: #fa3d32;
}

.button-primary {
  padding: 14px 28px;
  margin: 28px 0;
  width: 180px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 900;
  background-color: #06121e;
  border: 0;
  border-radius: 50px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .hero {
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 500px) {
  .hero h1 {
    font-size: 30px;
  }
}
.cards-container {
  display: flex;
  justify-content: space-between;
}

.card-grupo {
  text-align: center;
}
.card-grupo h3 {
  margin-top: 10px;
  font-size: 24px;
  color: #ffffff;
}

.circulo {
  background-color: #ffffff;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  opacity: 0.25;
}
.circulo img {
  margin: 25% 0;
  width: 70px;
}

@media screen and (max-width: 768px) {
  .cards {
    margin-top: 100px;
  }
  .cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
  .card-grupo {
    text-align: center;
  }
  .card-grupo h3 {
    margin-top: 10px;
    font-size: 20px;
    color: #ffffff;
  }
  .circulo {
    background-color: #ffffff;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    opacity: 0.25;
  }
  .circulo img {
    margin: 25% 0;
    width: 70px;
  }
}
.cards-2 {
  margin-top: 200px;
}

.cards-2-grupo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  margin-bottom: 230px;
}
.cards-2-grupo img {
  width: 500px;
  height: 300px;
  border-radius: 50px;
}

.cards-2-texto {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.cards-2-texto h3 {
  font-size: 30px;
  font-weight: 900;
  color: #ffffff;
}
.cards-2-texto p {
  font-size: 16px;
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .cards-2-grupo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 180px;
  }
  .cards-2-grupo img {
    width: 450px;
    border-radius: 50px;
  }
  .reverse {
    display: flex;
    flex-direction: column-reverse;
  }
  .cards-2-texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .cards-2-texto h3 {
    font-size: 28px;
    font-weight: 900;
    color: #ffffff;
  }
  .cards-2-texto p {
    font-size: 18px;
    color: #ffffff;
    text-align: center;
  }
}
@media screen and (max-width: 500px) {
  .cards-2-grupo img {
    width: 300px;
    height: auto;
    border-radius: 50px;
  }
  .cards-2-texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .cards-2-texto h3 {
    font-size: 18px;
    font-weight: 900;
    color: #ffffff;
  }
  .cards-2-texto p {
    font-size: 12px;
    color: #ffffff;
    text-align: center;
  }
}
.bg-footer::before {
  content: "";
  display: block;
  position: absolute;
  background-image: linear-gradient(to top, rgba(6, 18, 30, 0.1), #06121e), url("../assets/footer.jpg");
  left: 0;
  width: 100%;
  height: 300px;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  opacity: 0.9;
}

.footer-content {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.footer-endereco {
  margin-top: 100px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer-icons {
  display: flex;
  gap: 0 15px;
  margin-top: 30px;
}

.footer-icons a:hover i {
  color: #fa3d32;
  animation: translateY 0.8s infinite alternate;
}

@keyframes translateY {
  from {
    transform: translateY(0) scale(1);
  }
  to {
    transform: translateY(-8px) scale(1);
  }
}
body {
  font-family: "Inter", sans-serif;
  background-color: #06121e;
}

a {
  cursor: pointer;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 10px;
  opacity: 0.5;
}

::-webkit-scrollbar-thumb {
  width: 5px;
  border-radius: 50px;
  background-color: #ffffff;
}/*# sourceMappingURL=estilo.css.map */